.mainmenu{
    display: none;
}
.audio-fondo {
width: 160px;
height: 36px;
background: #FFFF00;}

nav:hover .mainmenu{
    display: block;

}
.mainmenu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.mainmenu a {
    display: block;
    background-color: rgb(211,0,0);
    text-decoration: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color:  rgb(236,236,236);
    font-size: 12px;
}
.mainmenu a:hover {
    background-color: rgb(41,41,41);
    color: white;
}
.mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
}.submenu a {
    background-color: rgb(20, 68, 91);;
}
.submenu {
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease-out;
}
#pmenu{
    text-align: center;
    color: rgb(255,255,255);
    background-color: #000;
    margin: 0;
    padding: 0;
}

.grid{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-auto-rows: auto;
}
header{
    grid-row: 1/2;
    grid-column: 1/3;
    min-height: 55px;
}
nav{
    grid-column: 1/3;
    grid-row: 2/3;
    height: 55px;
    top: 0;
    position: sticky;
}
.news{
    grid-column: 1/2;
    grid-row: 3/4;
}
.artList{
    grid-column: 1/2;
    grid-row: 4/5;
}
aside{
    max-width: 125px;
    grid-column: 2/3;
    grid-row: 3/5;
}
footer{
    grid-column: 1/3;
    grid-row: 5/6;
}

@media screen and (max-width: 767px){
    .grid{
        grid-template-columns: auto 1fr auto;
        grid-auto-rows: 55px auto;
    }
    header{
        grid-column: 1/4;
        position: sticky;
        top:0;
    }
    nav{
        grid-row: 1/2;
        grid-column: 1/2;
        min-width: 55px;
    }
    .news{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .artList{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    aside{
        grid-row: 2/4;
        grid-column: 3/4;
    }
    footer{
        grid-column: 1/4;
        grid-row: 4/5;
    }
    
}

@media screen and (max-width: 577px){
    .grid{
        grid-template-columns: auto 1fr;
    }
    header{
        grid-column: 1/3;
    }
    aside{
        position: sticky;
        bottom: 0;
        grid-column: 1/3;
        grid-row: 4/5;
        bottom: 0;
        max-width: none;
    }
    footer{
        display: none;
    }

}

