div#body  /*Define una identificador "body" asociado a un elemento <div>. Es la posición del cuerpo de la página (barra lateral más contenido) */
{
    margin:auto auto auto auto;  /* top right bottom left: equivale a poner un sólo auto */
    width:710px; /* El ancho del estilo lo coloca en 710px */
    clear:left; /*En el body quito el flotante para que la siguiente caja quede debajo */
}
div#header /*Define una identificador "header" asociado a un elemento <div>. Es la posición de la cabecera */
{
    margin:auto auto auto auto;
    width:710px;
    border:solid 3px #815608;
    border-radius: 15px; /*borde redondeado de radio 15px */
}
div#sidebar
{
    display:none; /*este div no lo hace visible */
    border:solid 1px #CFC;
    padding-left:15px; /*Se modifica el ancho*/
}
body.sidebar-main div#footer  /*Define una identificador "footer" asociado a un elemento <div>. Es la posición del pie de página */
{
    margin:25px auto 25px auto;
    width:710px;
    border:solid 3px #815608;
    border-radius: 15px; /*borde redondeado de radio 15px */
    clear:right;/* Ya que el div encima es tipo float:right, es necesario decirle ahora que coloque este div cuando no hay ningún div que este flotando a la derecha */
}

body.main-sidebar div#footer /*Define una identificador "footer" asociado a un elemento <div>. Es la posición del pie de página */
{
    margin:15px auto 15px auto;

    width:710px;
    border:solid 3px #815608;
    border-radius: 15px; /*borde redondeado de radio 15px */
    clear:left;/* Ya que el div encima es tipo float:left, es necesario decirle ahora que coloque este div cuando no hay ningún div que este flotando a la izquierda*/
}

body.main-sidebar div#main, body.sidebar-main div#main
{
    width:490px;
    border:solid 4px green;
}
body.main-sidebar div#body, body.sidebar-main div#body
{
    margin:auto auto auto auto;
    width:710px;
    border:solid 4px #FFF;
}

body.main-sidebar div#sidebar, body.sidebar-main div#sidebar
{
    padding-top:10px;
    display:block;
    width:200px;
    border:solid 1px #CCC;
}
body.main-sidebar div#main, body.main-sidebar div#sidebar  /*Main-sidebar. Este estilo coloca el sidebar a la derecha y el main a la izquierda */
{
    float:left;
    border:dotted 1px green;
}
body.sidebar-main div#main, body.sidebar-main div#sidebar /*Sidebar-main. Este estilo coloca el sidebar a la izquierda y el main a la derecha*/
{
    float:right;
    border:dotted 1px green;
}
div#header div#logo /*Se define el logo flotante a la izquierda*/
{
    margin-bottom:inherit;
    border:dotted 1px green;
    float:left; /*Hago estas caja flotante, y las siguientes cajas que estén en la misma posición también serám flotantes a la izquierda. No hace falta ponerle a div#header div#main-title también eta propiedad*/
}

div#header div#main-title /*Es el título del encabezado. Al ser el logo flotante este también lo será */
{
    width:600px;
    margin-bottom:inherit;
    border:dotted 1px blue;
    padding-bottom:10px;
}
div.reproductor /*Se define el reproductor a la derecha*/
{
    margin-left:500px;
    margin-bottom:inherit;
    clear:left; 
    position:relative;
}

/* DEFINE LOS ENLACES DE MEnU*/
a.menus:link 
{text-decoration:none; 
 color:#000000;
 background-color:#815608;
 border:#FFFFFF 1px solid;
} /* Link no visitado*/

a.menus:visited {
    text-decoration:none; 
    color:#cccccc;
} /*Link visitado*/

a.menus:active {
    text-decoration:none; 
    color: #003399; 
    background: green; 
    border:#FFFFFF 1px solid;
} /*Link activo*/

a.menus:hover {
    text-decoration:underline; 
    color: #003399; 
    background: red; 
    border:#FFFFFF 1px solid;} 
/*Ratón sobre el link*/
