body{
    background-color: #2D882D;

}

header{
    text-align: center;
    background-color: #55AA55;
    color: black;
    margin-top: 0%;
}

#content{
    color: black;
    text-align: justify;
    background-color: #116611;
    width: 70%;
    margin-left: 0px;
    margin-top: 2%;
    height: 100%;
    position: absolute;
}

#lateral{
    background-color: #88CC88;
    width: 30%;
    height: 100%;
    margin-top: 2%;
    margin-left: 71%;
    position: absolute;

}


#footer {
	width: 100%;
	height: 10%;
	position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    
}

.tipus1{
 margin: 2em;
 border: black solid;

}

#par1{
    padding: 2em;
    border: 3px solid black;
}

.tipus2{
    border: red dashed 10px;
    margin: 5em 2em;
}

#par2{
    width: 200px;
    padding: 2em 5em;
    box-shadow: purple;
    border: black solid 3px;
    border-radius: 10%;
    border-bottom-right-radius: 0%;
}