body{
    background-color: grey;
   
    margin: auto;
}
header{
    background-color: #D4CD6A;
    border: solid yellow 3px;
    padding-bottom: 20px;
    border-radius: 5px;

    
}

nav{
    background-color: #4F2C73;
    border: solid blueviolet 3px;
    border-radius: 5px;
    grid-column: 1;
    height: 90px;
   

   
    
}
section{
    background-color: aquamarine;
    float: left;
    border: solid blue 3px;
}


main{
    background-color: #AAA739;
    border: solid yellow 3px;
    border-radius: 5px;


}

footer{
    background-color: #D4CD6A;
    border: solid yellow 3px;
    height: 100px;
    width: 100%;
    border-radius: 5px;

    
}
*{
    box-sizing: border-box;
}

.grid00{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr; 
}

.grid01{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
