*{
    box-sizing: border-box;
}
header{
    background-color: rgb(211,0,0);
    border: solid 1px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:  #14445B;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    
}

body{
    background:  white;
}

nav{
    background-color: rgb(255, 255, 255);
    border: solid 3px ;
    border-radius: 5px;
    
    
}

main{
    background:  white;
    border: solid 3px;
    border-radius: 5px;
}

.nav2{
    background-color: aquamarine;
    bottom: 0px;
    border: solid 3px;
    border-radius: 5px;
}

footer{
    background-color: rgb(0, 0, 0);
    border: solid 1px;
    border-radius: 5px;
    color: rgb(236,236,236);
}
.grid{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    min-height: 500px;
}

.grid2{
    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; 
}

.sec1{
    background-color: rgb(236,236,236) ;
    border: solid 1px black;
    border-radius: 5px;
    margin-top: 10%;
    min-height: 50px;
    margin-left: 15%;
    margin-right: 15%;
    
}

.sec2{
    background-color: rgb(236,236,236) ;
    border: solid 1px black;
    border-radius: 5px;
    min-height: 50px;
    margin-top: 20%;
    margin-bottom: 15%;
   
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:  rgb(20, 68, 91);
    font-size: 18px;
    text-transform: uppercase;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color:  #686868;
    font-size: 12px;
}