img{
    background-color: rgb(236,236,236) ;
    border-radius: 5px;
    width: 50%; 
    height: auto;
    max-width: 150px;
    float: right;
    margin-right: 30px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.mainmenu{
    display: none;
}
nav:hover .mainmenu{
    display: block;

}
.mainmenu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.mainmenu a {
    display: block;
    background-color: rgb(211,0,0);
    text-decoration: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color:  rgb(236,236,236);
    font-size: 12px;
}
.mainmenu a:hover {
    background-color: rgb(41,41,41);
    color: white;
}
.mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
}.submenu a {
    background-color: rgb(20, 68, 91);;
}
.submenu {
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease-out;
}
#pmenu{
    text-align: center;
    color: white;
    background-color: #000;
    margin: 0;
    padding: 0;
}
header{
    grid-row: 1/2;
    grid-column: 1/3;
    min-height: 55px;
    
    top:0;
}
nav{
    grid-column: 1/3;
    grid-row: 2/3;
    min-height: 55px;
    position: sticky;
    top:0;
}
.grid{
    display: grid;
    grid-template-columns: 12fr auto;
    grid-auto-rows: auto;
}
.sec{
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: justify;
}
aside{
    max-width: 150px;
    grid-row: 3/4;
    grid-column: 2/3;
}
footer{
    grid-column: 1/3;
    grid-row: 4/5;
}

@media screen and (max-width: 767px){
    header{
        grid-column: 1/4;
    
    }
    nav{
        grid-row: 1/2;
        grid-column: 1/2;
        height: 55px;
        top:0;
        min-width: 55px;
    }
    .grid{
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-auto-rows: 55px auto;
    }
    .sec{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    aside{
        max-width: 150px;
        grid-row: 2/3;
        grid-column: 3/4;
    }
    footer{
        grid-column: 1/4;
        grid-row: 3/4;
    }
}
@media screen  and (max-width: 577px){
    header{
        position: sticky;
        top: 0px;
        height: 55px;
        grid-row: 1/2;
        grid-column: 1/3;
    }
    nav{
        grid-row: 1/2;
        grid-column: 1/2;
        position: sticky;
        top: 0px;
        height: 55px;
        min-width: 55px;
      
    }
    .grid{
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 55px auto auto auto;
    }
    aside{
        position: sticky;
        bottom: 0;
        grid-column: 1/3;
        grid-row: 3/4;
        min-height: 55px;
        bottom: 0px;
        max-width: none;
    }
    .sec{
        grid-column: 1/3;
        grid-row: 2/3;
    }

    footer{
        display: none;
    }   
}




    
    


